<div class="well">
  <p><a href="">Profile</a></p>
  <%= image_tag("profile.jpg", class: "img-circle", height: "65", width: "65") %>
</div>
<div class="well left-nav">
  <p class="label label-default title-panel-left"><a href="">Courses</a></p>
  <p><a href="">Link course</a></p>
  <p><a href="">Link course</a></p>
  <p><a href="">Link course</a></p>
  <p><a href="">Link course</a></p>
</div>
<div class="well left-nav">
  <p class="label label-default title-panel-left"><a href="">Clubs</a></p>
  <p><a href="">Link club</a></p>
  <p><a href="">Link club</a></p>
  <p><a href="">Link club</a></p>
  <p><a href="">Link club</a></p>
</div>
