<%= render "nav" %>
<div class="container text-center container-index">
  <div class="row">
    <div class="col-sm-2">
      <%= render "left" %>
    </div>
    <div class="col-sm-7">
      <%= render "center" %>
    </div>
    <div class="col-sm-3 well">
      <%= render "right" %>
    </div>
  </div>
</div>
